[OPENCAFE_ENGINE]
config_directory = /Users/Thoughtworker/Desktop/local_future_cloudcafe/virtualenv/bin/../.opencafe/configs
data_directory = /Users/Thoughtworker/Desktop/local_future_cloudcafe/virtualenv/bin/../.opencafe/data
log_directory = /Users/Thoughtworker/Desktop/local_future_cloudcafe/virtualenv/bin/../.opencafe/logs
temp_directory = /Users/Thoughtworker/Desktop/local_future_cloudcafe/virtualenv/bin/../.opencafe/temp
master_log_file_name = cafe.master
logging_verbosity = STANDARD
default_test_repo = cloudroast

