virtualenv/bin/**
virtualenv/lib/**
virtualenv/local/**
virtualenv/share/**
virtualenv/include/**
virtualenv/.opencafe/logs
virtualenv/.opencafe/plugin_cache/**
virtualenv/.opencafe/temp/**
virtualenv/.opencafe/data/**

*.img
