[user_auth_config]
endpoint=http://10.17.255.180:5000/v2.0
strategy=keystone

[user]
username=qe_demo
# api_key=
password=secrete
# tenant_id=
tenant_name=qe_demo
# user_id=
# project_id=

[blockstorage]
identity_service_name=cinder
region=RegionOne
availability_zone=''

[volumes_api]
serialize_format=json
deserialize_format=json
version_under_test=1
default_volume_type=lvm
max_volume_size=100
min_volume_size=1
volume_status_poll_frequency=20
snapshot_status_poll_frequency=20
volume_create_min_timeout=100
volume_create_max_timeout=300
volume_create_wait_per_gigabyte=10
volume_create_base_timeout=200
volume_delete_min_timeout=200
volume_delete_max_timeout=300
volume_delete_wait_per_gigabyte=60
volume_clone_min_timeout=120
volume_clone_max_timeout=1200
volume_clone_wait_per_gigabyte=10
volume_clone_base_timeout=120
min_volume_from_image_size=100
copy_image_to_volume_base_timeout=60
copy_image_to_volume_max_timeout=1800
copy_image_to_volume_min_timeout=240
copy_image_to_volume_wait_per_gigabyte=20
snapshot_create_max_timeout=1800
snapshot_create_min_timeout=600
snapshot_create_base_timeout=600
snapshot_create_wait_per_gigabyte=10
snapshot_delete_max_timeout=3600
snapshot_delete_min_timeout=60
snapshot_delete_wait_per_gigabyte=10
# snapshot_delete_base_timeout=60
snapshot_restore_base_timeout=600
snapshot_restore_min_timeout=1800
snapshot_restore_max_timeout=3600
snapshot_restore_wait_per_gigabyte=20

image_filter={"name": ["qe_cirros"]}

# image_filter_mode=inclusion

# Expects Json. Returns an empty dictionary by default (no filter).
# Dictionary keys should be attributes of the flavor model, and key
# values should be a list of values for that model attribute. Used by
# some tests to decide which flavors to target for a given test run.
flavor_filter={"id": ["2"]}

# flavor_filter_mode=inclusion

# Expects Json. Returns an empty dictionary by default. Dictionary
# keys should be attributes of the volume type model, and key values
# should be a list of values for that model attribute. Used by some
# tests to decide which images to target for a given test run.
volume_type_filter={"name": ["lvm"]}

# volume_type_filter_mode=inclusion


[marshalling]
serialize_format=json
deserialize_format=json

[compute]
hypervisor=kvm

[compute_endpoint]
region=RegionOne
compute_endpoint_name=nova
compute_endpoint_url=http://10.17.255.180:8774/v2

[servers]
resource_build_attempts=1
instance_auth_strategy=key
split_ephemeral_disk_enabled=True
ephemeral_disk_max_size=300
# disk_config_override=
disk_format_type=ext3
server_status_interval=10
server_build_timeout=600
server_boot_timeout=600
server_resize_timeout=1800
network_for_ssh=public
ip_address_version_for_ssh=4
instance_disk_path=/dev/xvda
connection_retry_interval=15
connection_timeout=600
expected_networks={"private": {"v4": true, "v6": false}}
personality_file_injection_enabled=True
# keep_resources_on_failure=False
# default_scheduler_hints=
network_for_ssh=public
default_injected_files=[{'path': '~/.ssh/authorized_keys', 'contents': 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCh/FBtfxpnTtCl8+Zt50jNjnYz4QFs03d2PY266e5kkFpOt05PghtVcn1odGyL51Wv9NyaQqFDNclAyO5VTX6UfUk1taQ4Lab60Z0M56rh7cRiFrcDd382duxMGEJ7NJLA0WycLDbpmpGbXxqtYoEt3EQyKlQSW5cH/u26l4TPdx3wBTmMbd3/5hwU45LIoO9y+xs0pNLVhFFnlcgP90EyVPn22M+1ShxGVJPdLz8i1neq+QUSUpfgvhahay5hna4+8kH65h94+86jBrHAQ+ykRay8CWcJkP/kZ/ceF+rKL83WGHcOTQcC/yfq4lX8idQiwfEaX0RBRAw0DMJt2lax jcourtoi@thoughtworks.com'}]
auto_assign_floating_ip=True
default_file_path=/
default_network=caf541c0-172d-4d88-82d6-03490c7c1394

[images]
primary_image=832876fc-c4ba-48a6-9cfe-dd5da706208e
primary_image_has_protected_properties=False
primary_image_default_user=root
primary_image_path_separator=/
secondary_image=d04cc810-648f-4b1e-9063-d7fc01cda6ed
# old_image=
image_status_interval=12
snapshot_timeout=300
# delta_image_size=
can_get_deleted_image=false

# The path to the non inherited metadata
# non_inherited_metadata_filepath=
primary_image_default_device=/dev/xvda

[flavors]
primary_flavor=2
secondary_flavor=3
resize_enabled=true

[volume_attachments]
attachment_timeout=120
attachment_propagation_timeout=60
api_poll_rate=5
api_poll_failure_retry_limit=3

[openstack_cli_common]
debug=True
# retries=
os_username=
os_password=
os_tenant_name=
os_auth_url=
os_region_name=
# os_cacert=

[cinder_cli]
# service_type=
# service_name=
volume_service_name=cloudBlockStorage
# endpoint_type=
# os_volume_api_version=
# os_region_name=
environment_variable_dictionary={'CINDER_RAX_AUTH':'1'}

[nova_cli]
insecure=True
os_auth_system=rackspace
# os_region_name=
# Expects a python dictionary as a string. Returns an empty dict by
# default.
environment_variable_dictionary={'NOVA_RAX_AUTH':'1'}
